@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container-fluid {
  position: absolute;
  width: 1800px;
  height: 1366px;
  margin: auto;
  left: 0px;
  top: 0px;
  background: #ffffff;
}

.myLeftCtn {
  background: rgba(2, 20, 129, 0.75);
  height: 1100px;
  top: calc(50% - 1366px / 2 - 10px);
  display: flex;
  align-items: center;
  position: relative;
  width: 800px;
}
.myLeftCtn img {
  width: 110.8px;
  height: 32px;
}
.myLeftCtn h3 {
  color: #ffffff;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 45px;
  line-height: 37px;
  text-align: center;
  width: 700px;
  height: 37px;
  padding-left: 200px;
  padding-bottom: 100px;
}

.myRightCtn h2 {
  color: rgba(2, 20, 129, 0.75);
  font-family: Montserrat;
  font-style: normal;
  font-weight: bolder;
  font-size: 50px;
  line-height: 73px;
  width: 1000px;
  height: 73px;
  padding-left: 90px;
  padding-top: 76px;
  padding-bottom: 59px;
}
.myRightCtn p {
  color: #000000;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  width: 400px;
  height: 22px;
  padding-left: 220px;
  padding-top: 40px;
  padding-bottom: 60px;
}

.form label {
  color: #000000;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bolder;
  font-size: 18px;
  line-height: 22px;
  width: 400px;
  height: 22px;
  left: 695px;
  top: 301px;
}
.form input {
  background: rgba(196, 196, 196, 0.5);
  border-radius: 30px;
  width: 620px;
  height: 74px;
  left: 695px;
  top: 331px;
}

.form-check-label {
  color: #000000;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 27px;
  width: 563px;
  height: 37px;
  left: 774px;
  top: 840px;
}
.btn-primary {
  width: 648px;
  height: 74px;
  left: 693px;
  top: 928px;
  background: #012481;
  border-radius: 30px;
}
